nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 10px;
    margin: auto;
    width: 50%;
}

nav a:hover{
    color: lightgrey;
}

.activeLink{
    text-decoration: underline;
}